/* 1-masala */
/* main{
    display: flex;
    flex-direction: column;
    gap: 10px;
    label{
        display: flex;
        gap: 5px;
    }
    input{
        width: 150px;
    }
    .buttons{
        display: flex;
        gap: 10px;
        
    }
} */


/* 2-masala */
/* main{
    display: flex;
    flex-direction: column;
    gap: 10px;
    label{
        display: flex;
        gap: 5px;
    }
   
    
} */

/* 3-masala */
/* main{
    display: flex;
    flex-direction: column;
    gap: 10px;
    label{
        display: flex;
        gap: 5px;
    }
   
   
    
} */

/* 4-misol */
/* main{
    display: flex;
    flex-direction: column;
    gap: 10px;
    label{
        display: flex;
        gap: 5px;
    }
   
   
    
}  */
